body{
    background-color: #f7ecde;
}
@font-face {
    font-family: pacifico;
    src: url(../webfonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: righteous;
    src: url(../webfonts/Righteous-Regular.ttf);
}

h1{
    font-size: 50px;
    font-family: pacifico;
    color: #352e28;
    width: fit-content;
    margin: auto;
    
}
h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
h1:hover:before{
    height:50% ;
}

.line{
    width: 100%;
    height: 3px;
    border-bottom: 2px dotted black;
}
h2{
    font-family: righteous;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
a.btn-visit{
    background-color: #8A9E23;
    color:#fff;
}
a.btn-visit:hover{
    background-color: #6e8018;
    color:#fff;
}
.btn-delete{
    background-color: #eb1d36;
    color:#fff;
}
.btn-delete:hover{
    background-color: #d30820;
    color:#fff;
}



